<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Selamat Datang di AI Search dengan voice dan mimic wajah</h1>
        <p>Explore new information with us!</p>

        <video id="video" width="640" height="480" autoplay></video>
        <div id="result" style="display: none;"></div> <!-- Hidden by default -->
        
        <p id="ipResult"></p>
        <p id="locationResult"></p>
        <p id="imageResult"></p>
    </div>

    <script>
        const enableCamera = {{ enable_camera|tojson }};
        const enableIP = {{ enable_ip|tojson }};
        const enableLocation = {{ enable_location|tojson }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
